
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.logout-button {
    padding: 2px 5px !important;
}
.justify-content-space-between{
    justify-content: space-between !important;
}
.content-header {
    padding: 5px 0.5rem !important;
    background: #343a410d !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid silver !important;
    box-shadow: 0 1px 5px silver !important;
}
p.error-message {
    color: red;
    position: absolute;
    font-size: 14px;
}
.category{
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}
.category p{
    align-items: center !important;
    justify-content: center;
    vertical-align: middle !important;
}
.table-image{
    width: 50px;
    height: 50px;
    border: solid 2px silver;
    border-radius: 10px;
   margin-right: 9px;

}
.table-image-banner{
    width: 100px;
    height: 50px;
    border: solid 2px silver;
    border-radius: 10px;
   margin-right: 9px;
}
th,td{
    text-align: center !important;
    vertical-align: middle !important;
}
.downloadable-image{
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}
.downloadable-image:hover .download-function-area{
    display: block;

}
.download-function-area{
position: absolute;
width: 100%;
height: 100%;
background: rgba(0, 100, 112, 0.35);
text-align: center;
top: 0;
left: 0;
display: none;
transition:   .25s linear;
animation-duration: .25s;

animation-name: downloadable_image_in;

}
.download-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@keyframes downloadable_image_in {
    0%{-webkit-transform: scale(0);}
    100%{-webkit-transform: scale(1);}
}
@keyframes downloadable-image-out {
    0%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(0);}
}
